**Lambda functions**
  
- Lambda functions represnts function concept
- But we can write in a single line
- Like list comprehension, lambda functions similar only
- It will decrease the time complexity
- always remember if we use many for loops or many conditions using multiple line ,
- the time complexity will increase

In [ ]:
**It will use a keyword lambda**
    
# lambda <arguments>: <expression>

In [ ]:
What is the interview process for a data science position with 3 years of experience
                             
1) coding+sql
2) based on ML DL
3) Techn: 2,3

bond : 1.5 bonus

ds2 === 2 2ppl
ds3 ====
do you know

In [ ]:
strings
list
tuple set
dictionary
landad
file handling

oops : kwargs

Sir do we have right to break bond with company

In [1]:
def summ(n):
    return(n+10)
summ(10)

20

$Pattern âˆ’ 1$

**Function with only one argument**
    
- function name
- argument name
- return output

In [ ]:
# syntax: <function name>= lambda <argument name>: <return output>
def summ(n):
    return(n+10)
summ(10)

# function name= summ
# argument name = n
# return output= n+10

In [7]:
summ= lambda n:n+10
summ(100)

110

In [6]:
def cube(n):
    return(n**3)
cube(10)

1000

In [5]:
cube= lambda n:n**3
cube(10)

1000

$pattern-2$

**Two arguments**

In [4]:
# syntax : <function name>= lambda <arg1>,<arg2>: <return output>
def add(a,b):
    return(a+b)
add(50,50)

# Function name: add
# arg1=a
# arg2=b
# return= a+b

100

In [3]:
add=lambda n1,n2: n1+n2
add(60,50)

110

In [2]:
average=lambda a,b,c:round((a+b+c)/3,2)
average(10,202,30)

80.67

$Pattern-3$

**Default arguments**

$Pattern-4$

**if-else**

In [11]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(10,20)

20

In [10]:
# syntax : function name = lambda <arg1>,<arg2>: <list comprehension>
# syntax : function name = lambda <arg1>,<arg2>: <if_out><if_con><else><else_out
maxx=lambda a,b: a if a>b else b
maxx(30,20)

30

$Pattern-5$

**using List**

In [9]:
l=['hyd','chennai','mumbai']
# op=['Hyd','Chennai','Mumbai']
op=[]
for i in l:
    op.append(i.capitalize())
op

['Hyd', 'Chennai', 'Mumbai']

In [ ]:
lambda <variable>:<op>
# variable:i
# op: i.capitalize()
lambda <variable>:<op>,<iterator>
# Qn: from where you are getting 'i'
# <iterator>: list

**map**
- the function and iterator are available now
- we need to map both

In [12]:
l=['hyd','chennai','mumbai']
map(lambda i: i.capitalize(),l)

In [13]:
# apply the list to see the values
l=['hyd','chennai','mumbai']
list(map(lambda i: i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [14]:
l=['hyd','chennai','mumbai']
tuple(map(lambda i: i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

In [ ]:
# step1: Write your normal expression
# ex: lambda <var>: <op>===>lambda i: i.capitalize()
# step2: add the iterator
# ex: lambda <var>: <op>,<list>===>lambda i: i.capitalize(),list1
# Step-3: Map the both
# ex: map(lambda <var>: <op>,<list>)===>map(lambda i: i.capitalize(),list
# Step-4: save the values in a list,
# ex: list(map(lambda <var>: <op>,<list>))===>list(map(lambda i: i.capital
#Note: Those who are getting list object not callable use tuple

- Case-1: Function call with one argument
    - lambda arguments : Expression
    - lambda variables : return output
- Case-2: Functiin call with two argument
    - lambda arg1,arg2 : Expression
    - lambda var1,var2 : return output
- case-3: Function call with default argument
    - lambda arg1,arg2=500 : Expression
    - lambda var1,var2=500 : return output
- Case-4: Function call with two arguments and if-else statement
    - lambda arg1,arg2 : Expression
    - lambda var1,var2 : if _output if_con else els_op for loop
- Case-5: Lambda operations using list
    - lambda arg : Expression,iterator
    - map(lambda var : operation,list)
    - list( map(lambda var : operation,list))

In [4]:
l=['hyd','chennai','mumbai']
# op=['HYD','CHENNAI','MUMBAI']
# for i in l:
#    print(i.upper())

list(map(lambda i:i.upper(),l))

['HYD', 'CHENNAI', 'MUMBAI']

**Filter**

- whenever  if condition is there use the filter

In [2]:
l=['hyd','che#nnai','mum#bai','blr']
# op=[che#nnai','mum#bai']
# for i in l:
#     if '#' in i:
#        print(i)

# Mistake-1: tuple(map(lambda i: if '#' in i,l))  (don't write if)

tuple(map(lambda i: '#' in i,l))

(False, True, True, False)

In [3]:
tuple(filter(lambda i: '#' in i,l))

('che#nnai', 'mum#bai')

In [1]:
# numbers= [1,3,2,7,6]
# op=[2,6]

l1 = [1,3,2,7,6]
list(filter(lambda i:i%2==0,l1))

[2, 6]

In [20]:
l1= [1,2,3,4,5]

# I want sum of the elements in a list

# Method-1: Sum
sum(l1)

# Method-2: with out sum
summ=0
for i in l1:
    summ=summ+i

print(summ)

15

In [23]:
l1= [1,2,3,4,5]
filter(lambda summ,i:summ+i,l1)
print(summ)

15

In [ ]:
l1=[1,2,3,4,5]
max(l1)
min(l1)
len(l1)
summ(l1)

**Reduce**

- All inbuilt functions can achieve by Reduce
- reduce is available from functools package
- level-1: reduce(lambda summ,i:summ+i,l1)
- level-2: filter(lambda summ,i:summ+i,l1,intial_value)
- for example we want intialize summ=0 then we choose level-1
- for example we want start with other than zero then we choose level-2

In [5]:
import functools

In [6]:
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [45]:
l1= [1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

15

In [29]:
import functools
l1= [1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [33]:
import functools as ft
l1= [1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,l1)

15

In [34]:
from functools import reduce
l1= [1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

15

In [38]:
from functools import reduce
l1= [1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1,13)

28

In [39]:
import functools
l1= [1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1,10)

25

In [40]:
import functools as ft
l1= [1,2,3,4,5]
ft.reduce(lambda summ,i:summ+i,l1,20)

35

In [49]:
import functools
l1= [1,2,3,4,5]
functools.reduce(lambda mul,i:mul*i,l1)

120

In [53]:
from functools import reduce
l1= [1,2,3,4,5]
reduce(lambda x,y:x+y,l1)

15

In [54]:
from functools import reduce
l1= [1,2,3,4,5]
reduce(lambda x,y:x*y,l1)

120

In [ ]:
from functools import reduce
l1= [1,2,3,4,5]
reduce(lambda x,y:x>y,l1)

In [56]:
import functools

In [57]:
functools

In [ ]:
# maximum value using reduce

# map: direct attack
# filter: if conditions
# reduce: inbuilt functions some intialization

# i want detiled word doc wih eg