## VARIABLES

- Variables are used to store the value
`
- and the values can be changed

In [1]:
number=100 # value  100 in a variable name called 'number'
number

100

In [2]:
number=200 # value 200 in a variable name called'number'
number

200

**NOTE**

- Python is step by step process

- python will take last output as the latest value
    
- in avobe code we are using same variable :number

- but number value change 2 times

- 1st tym :100

- 2nd tym:200

- latest value 200

In [4]:
NUMBER=200
NUMBER

200

In [5]:
NUMBER,NUMBER

(200, 200)

In [6]:
NUMBER=300
NUMBER

300

In [8]:
number123=400
number123

400

In [9]:
123number=500
123number

SyntaxError: invalid decimal literal (1181908654.py, line 1)

In [10]:
numb%er=600
numb%er

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1823274275.py, line 1)

In [11]:
number one=800
number one

SyntaxError: invalid syntax (2656576567.py, line 1)

In [12]:
number_one=900
number_one

900

In [13]:
_=1000
_

1000

In [14]:
n1=100,200
n1

(100, 200)

In [15]:
n2,n3=200
n2,n3

TypeError: cannot unpack non-iterable int object

In [19]:
n4,n5=100,200
print(n4)
print(n5)

100
200

In [ ]:
number=200 # w

number=300 # w

number=400 # w

number123=500 # w

123number=600 # f

numb%er=700 # f

number one=800 # f

number_one=900 # w

_=1000 # w

n1=100,200 # w

n1,n2=100,200 # w

n1,n2=100,200 # w

## KEYWORDS 
- while

- else
    
- elif
    
- for
    
- True
    
- False

# MUST KEEP IN MIND

- Python variables are case sensitive
- Variables can be declared as capital letters
- Variables can be declared as small letters
- Variables cannot start with numbers
- Numbers can be suffix of the variables
- Variables cannot have special characters except underscore
- Variables donnot have space between them 
- only uderscore is possible
- keywords or reserved words cannot be used as variables
- two values can be assign to a single variable
- two values can be assigned to a single value
- one value cannot be assigned