In [1]:
print(10)

10

In [2]:
print('python')

python

In [4]:
print(10,20,30)

10 20 30

In [7]:
print(10,10.5,'Naresh IT',True)

10 10.5 Naresh IT True

In [8]:
n1=10
n2=20
print(n1,n2)

10 20

In [9]:
print(10),print(20) # Good
# None- No value

10
20

(None, None)

In [10]:
print(10,20,30)
print(10)
print(20)

10 20 30
10
20

In [11]:
n1=10
n1

10

In [1]:
a=10
b=20
c=a+b
c
# the addition of 10 and 20 is 30
print("the addition of", a," and ",b," is ",c)

the addition of 10  and  20  is  30

## FORMAT METHOD

In [2]:
a=100
b=200
c=a+b
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 100 and 200 is 300

In [ ]:
# read your name
# read your age
# read your city
# My name is RENUKA,I'm 21 years old,I am from Hyderabad

In [17]:
name='RENUKA'
age=21
city='Hyderabad'
print("My name is {},I am {} years old,I am from {}".format(name,age,city))

My name is RENUKA,I am 21 years old,I am from Hyderabad

In [4]:
 employee_name = 'RENUKA'
 employee_role ='Data scientiest'
 company ='Google'
print("The employee name is {},She is a {},in the {} company".format(employee_name,employee_role,company))

The employee name is RENUKA,She is a Data scientiest,in the Google company

## F string method

In [3]:
a=100
b=200
c=a+b
print(f"the addition of {a} and {b} is {c}")

the addition of 100 and 200 is 300

In [3]:
name='RENUKA'
age=21
city='Hyderabad'
print(f"My name is {'RENUKA'},I am {21} years old,I am from {'Hyderabad'}")

My name is RENUKA,I am 21 years old,I am from Hyderabad

In [4]:
 employee_name ='RENUKA'
 employee_role ='Data scientiest'
 company ='Google'
print(f"The employee name is {'RENUKA'},She is a {'Data Scientiest'},in the {'Google'} company")

The employee name is RENUKA,She is a Data Scientiest,in the Google company

In [1]:
num1=100
num2=200
average=(num1+num2)/2
# the average of 100 and 200 is: 150
print("the average of {} and {} is: {}".format(num1,num2,average))
print(f"the averageof {num1} and {num2} is: {average}")

the average of 100 and 200 is: 150.0
the averageof 100 and 200 is: 150.0

In [3]:
num1=100
num2=200
average=(num1=num2)/2
# the average of 100 and 200 is: 150
print("the average of {} and {} is: {}".format(num1,num2,average))
print(f"the averageof {num1} and {num2} is: {average}")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (728481280.py, line 3)

In [5]:
(10+2)/2
10+2/2

#BODMAS

11.0

In [6]:
# take the radius of circle
# take the pi value=3.14
# Find the area of the circle = pi*r*r

radius=10
pi_value=3.14
area=pi_value*radius*radius
print("the area of circle is :{}".format(area))
print(f"The area of circle is :{area}")

the area of circle is :314.0
The area of circle is :314.0

- format spelling
- brackets are not providing
- you are keeping
- for getting the quotes also

In [7]:
# take the base of triangle
# take the height of the triangle
# area of the triangle=1/2*base*height
base=10
height=20
area=0.5*base*height
print(f"the area of triangle is: {area}")

the area of triangle is: 100.0

In [1]:
# take the bill_amount=1000
# take the tip_percentage=10
# calculate tip_amount
# calculate the total bill
# print the total bill
bill_amount=1000
tip_percentage=10  #M-1
tip_amount=bill_amount*tip_percentage/100
total_bill=bill_amount+tip_amount
print(f"the total bill is: {total_bill}")

the total bill is: 1100.0

In [2]:
print(10)
print(20)

10
20

In [3]:
print(10,20)

10 20

$end$

- combining multiple print statements in a single line

In [8]:
print(10,end=' ')
print(20)

10 20

In [9]:
print(10,end=',')
print(20,end='&')
print(30)

10,20&30

$sep$

- seperate the multiple values in a single print statement

In [11]:
print (10,20,30,sep='&')

# 10 & 20 & 30

10&20&30

In [12]:
print(10,20,30,sep='--->')

10--->20--->30

In [14]:
print(f"the addition of {5} and {3} is {5+3}.")

the addition of 5 and 3 is 8.

In [15]:
print("the addition of {} and {} is {}.".format(5,3,5+3))

the addition of 5 and 3 is 8.

In [16]:
print('the addition of 5 and 3 is 8.','.',sep='')

the addition of 5 and 3 is 8..