- we can store the output values by using append operations
-  we are taking empty list
- we are iterating through elements from a given list
- the result we are appending in a new list

In [3]:
square_list=[]
for i in range(10):
    square_list.append(i*i)

square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost three lines are in the process
- The 3 lines we can make into a single line
- This is called as **List Comprehension**

$pattern-1$

**Only for loop**

In [ ]:
# syntax
# [<output>   <for loop>]

In [6]:
square_list=[]
for i in range(10):
    square_list.append(i*i)

square_list

# Q1) What is the output ? i*i
# Q2) what is the output list name? square_list
# Q3) what is the for loop? for i in range(10)
# [<output>     <for loop>]
sq_list=[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
# Q2)l1=['Hyd','Mumbai','chennai','blr']
# upper_list= ['Hyd','Mumbai','chennai','blr']

l1=['Hyd','Mumbai','chennai','blr']
upper_list=[]
for i in l1:
    upper_list.append(i.upper())

upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [9]:
# Q1) What is the output ? i.upper()
# Q2) what is the output list name? upper_list
# Q3) what is the for loop? for i in range l1
# [<output>     <for loop>]

l1=['Hyd','Mumbai','chennai','blr']
upper_list=[i.upper() for i in l1]
upper_list

['HYD', 'MUMBAI', 'CHENNAI', 'BLR']

In [13]:
# Q3)l2=['Hyd','Mumbai','chennai','blr']
# lower_list= ['Hyd','Mumbai','chennai','blr']

l2=['Hyd','Mumbai','chennai','blr']
lower_list=[]
for i in l1:
    lower_list.append(i.lower())

lower_list

# or 

l2=['Hyd','Mumbai','chennai','blr']
lower_list=[i.lower() for i in l1]
lower_list

['hyd', 'mumbai', 'chennai', 'blr']

In [18]:
# Q4)l3=['Hyd','Mumbai','chennai','blr']
# sum of the indexes of all elements

l2=['Hyd','Mumbai','chennai','blr']
for i in l2:
    print(l2.index(i))

# or 

l2=['Hyd','Mumbai','chennai','blr']
idx_list=[l2.index(i) for i in l2]
idx_list,sum(idx_list)

0
1
2
3

([0, 1, 2, 3], 6)

- making empty list will not works in list comprehensions
- intializations will not work in  list comprehensions
- assignment operstions also not works

$pattern-2$

**for loop - if condition**

In [ ]:
# syntax

# [<output>   <for loop>    <if condition>]

In [20]:
# Q5)l1=['Hyd','Mumbai','chennai','blr']
# ans= ['Hyd','Mumbai']
# we want lements which are having first letter capital
l1=['Hyd','Mumbai','Chennai','blr']
ans=[]
for i in l1:
    ans.append(i.capitalize())
ans

['Hyd', 'Mumbai', 'Chennai', 'Blr']

In [21]:
# Q1) what is output:
# Q2) what is the if condition : if len(i)>4
# Q3) what is the for loop:for i in l1
#  [<output>     <for loop>   <if condition>]

l1=['Hyd','Mumbai','Chennai','blr']
op=[i for i in l1 if len(i)>4]
op

['Mumbai', 'Chennai']

In [22]:
# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans=['Mum#bai'',Chen#nai'] 
# we want lements which are having '#'


l1 = ['Hyd', 'Mum#bai', 'Chen#nai', 'blr']
ans = [i for i in l1 if '#' in i]
print(ans)

['Mum#bai', 'Chen#nai']

In [23]:
# Q5)l1=['Hyd','Mumbai','chennai','blr']
# ans= ['Hyd','Mumbai']
# we want lements which are having first letter capital

l1 = ['Hyd', 'Mumbai', 'chennai', 'blr']
ans = [i for i in l1 if i[0].isupper()]
print(ans)

['Hyd', 'Mumbai']

In [26]:
# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans_#=['Mum#bai'',Chen#nai'] 
# ans_without_#=['Hyd'','blr']
# we want lements which are having '#'

l1 = ['Hyd', 'Mum#bai', 'Chen#nai', 'blr']
ans_has = [i for i in l1 if '#' in i]
ans_without_has = [i for i in l1 if '#' not in i]
print("ans_has:", ans_has)
print("ans_without_has:", ans_without_has)

ans_has: ['Mum#bai', 'Chen#nai']
ans_without_has: ['Hyd', 'blr']

In [29]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[] second name=[] cname =[]
# append first name should be in first name list
# second name shoul be in second name list
# thirs name will be in thirs name list

import re
str1 = 'virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
firstname = []
secondname = []
cname = []
emails = str1.split(', ')
for email in emails:
    match = re.match(r'([a-zA-Z]+)\.([a-zA-Z]+)@([a-zA-Z]+)\.com', email, re.IGNORECASE)
    if match:
        firstname.append(match.group(1))
        secondname.append(match.group(2))
        cname.append(match.group(3))
    else:
        match_alt = re.match(r'([a-zA-Z]+)\.([a-zA-Z]+)@([a-zA-Z]+)\.[a-zA-Z]+', email, re.IGNORECASE)
        if match_alt:
            firstname.append(match_alt.group(1))
            secondname.append(match_alt.group(2))
            cname.append(match_alt.group(3))


print("Firstname:", firstname)
print("Secondname:", secondname)
print("Cname:", cname)

Firstname: ['virat', 'Rohit', 'KL']
Secondname: ['kohli', 'sharma', 'Rahul']
Cname: ['rcb', 'mi', 'lucknow']

$Pattern − 3$

**if-else**

In [ ]:
[<output> <forloop>] : for loop
[<output> <forloop> <if condition>]: for-if
[<if_output> <if> <else> <else_output> <for>] : if-else

**even-odd**

In [1]:
even_list,odd_list=[],[]
for i in range(1,20):
    if i%2==0:
        even_list.append(f"even:{i}")
    else:
        odd_list.append(f"odd:{i}")

In [2]:
even_list,odd_list

(['even:2',
  'even:4',
  'even:6',
  'even:8',
  'even:10',
  'even:12',
  'even:14',
  'even:16',
  'even:18'],
 ['odd:1',
  'odd:3',
  'odd:5',
  'odd:7',
  'odd:9',
  'odd:11',
  'odd:13',
  'odd:15',
  'odd:17',
  'odd:19'])

In [3]:
op_list=[]
for i in range(1,20):
    if i%2==0:
        op_list.append(f"even:{i}")
    else:
        op_list.append(f"odd:{i}")
op_list

#[<if_op> <if_con> <else> <else_op> <for_loop>]
[f"even:{i}" if i%2==0 else f"odd:{i}" for i in range(1,20)]

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9',
 'even:10',
 'odd:11',
 'even:12',
 'odd:13',
 'even:14',
 'odd:15',
 'even:16',
 'odd:17',
 'even:18',
 'odd:19']